<li class="external-link"><a href="https://github.com/curtiszimmerman"><i class="fa fa-github"></i> GitHub</a></li>
<li class="external-link"><a href="https://www.linkedin.com/in/curtisz"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
<li class="external-link"><a href="https://twitter.com/CurZim"><i class="fa fa-twitter"></i> Twitter</a></li>
<li class="external-link"><a href="https://plus.google.com/+CurtisZimmermanEsq"><i class="fa fa-google-plus"></i> Google+</a></li>
<li class="external-link"><a href="https://www.youtube.com/user/CurtisZimmermanEsq"><i class="fa fa-youtube-play"></i> YouTube</a></li>
<li class="external-link"><a target="_blank" href="mailto:curtis.zimmerman@gmail.com"><i class="fa fa-envelope"></i> Contact</a></li>
<!--
<li class="external-link"><a href="http://www.last.fm/user/L0j1k">Last.fm</a></li>
-->
